<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="apps.hillavas.com.yoga">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/titr"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".activity.VideoDetailActivity"></activity>
        <activity android:name=".activity.BMIActivity" />
        <activity android:name=".activity.ChooseOperator" />
        <activity
            android:name=".activity.HOME"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MessagingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CheckBalanceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.Buesy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ArticleTextView"
            android:label="@string/title_activity_article_text_view"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.CommonQuestionOne"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Subjects"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Signs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.FirstContentActivity" />
        <activity android:name=".activity.ConsultantActivity" />
        <activity android:name=".activity.ChangeStateActivity" />
        <activity android:name=".activity.NewsActivity" />
        <activity android:name=".activity.Insert_Info" />
        <activity
            android:name=".activity.ProfileInfo_Activity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.Yoga_contents_all_for_categoryid" />
        <activity android:name=".activity.TrainingActivity" />
        <activity android:name=".activity.IntroActivity" />
        <activity android:name=".activity.UnsubscribeActivity" />
    </application>

</manifest>